*{
    margin:0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background: url('https://images.pexels.com/photos/186461/pexels-photo-186461.jpeg?auto=compress&cs=tinysrgb&w=600') no-repeat center;
    background-size: cover;
    font-family: sans-serif;
}

.title{
    width: 500px;
    color:rgb(255, 255, 255);
    margin:3% auto;
}

.content{
    width: 580px;
    margin: 0 auto;
    background-color:#FFF;
    padding: 3%;
    padding-left: 6%;
}

.secondTitle{
    text-align:left;
    margin: 2% 0;
    font-weight: 100;
}

.form{
    padding: 5px;
}

.formLine{
    display: inline-flex;
    padding: 5px 0px;
}

.left{
    float: left;
}

.right{
    float:right;
    margin-right: 100px;
}

input, select{
    width: 130px;
    margin-left: 10px;
}

/* table style */
table{
    width: 100%;
}

thead{
    background-color:#1c946e;
    line-height: 30px;
}

/* Button */

button{
    width: 200px;
    color:rgb(0, 0, 0); 
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    line-height: 20px;
    background-color: #1c1c1e00;
    border-radius: 5px;
    margin: 14px 25%;
    cursor: pointer;
}

a{
    text-decoration: underline;
    cursor: pointer;
}